
h1._brand_ {
	text-shadow: 1px 1px 2px #101010;
}
h2.h2postheader {
	margin-top: 0.20em;
	font-size: 1.53em;
}
a.button:link, a.button:visited {
	text-decoration: none;
	background-color: #a9a9a9; /*Darkgrey*/
	border: 0.05em solid #000; /*Black*/
	color: #00f; /*Este es un numero hexadecimal (En este caso simplificado), es la forma correcta de especificar el color, los 2 primeros numeros son rojo, los 2 siguientes verde y los 2 ultimos azul, ff es el valor mas alto de azul*/ 
	display: inline;
	text-align: center;
	padding-top: 0.05em;
	margin-top: 0.05em;
}
a:hover, a:active { /*These are Pseudo classes*/
	background-color: #808080; /*Grey*/
}
body { 
 	background-color: #000; /*Black*/
 	margin: 0px;
 	color: #fff; /*White*/
   	font-family: 'Oxygen', sans-serif;
   	font-style: normal;
  	text-align: justify;
}
p.Encapsulated { 
   	padding: 0.85em;
   	border: 0.10em solid #696969; /*Dimgrey*/
   	margin-left: 6.25em;
} 
th, td, tr, table {

	border: 0.10em;
	border-color: #808080; 
	border-style: solid;
	border-collapse: collapse;  /*Had to make the table an Inline-table element to give it an horizontal scrollbar, now there are 2 outer borders, doesn't look bad tho*/
	text-align: justify; 
	max-width: 100%;

}
th, td, tr {
	padding: 0.25em;
	margin: -1em;
}

@media (min-width: 992px) { /*lg meaning large, there is also xl beginning on 1200px and xxl on 1400px*/
	body {	
		font-size: 1.1428571428571vw; /*All these obscene percentajes are the result of me manteining my original sizes based on a 1400px wide screen*/
	}
	a.button:link, a.button:visited {
		width: 14.428571428571%;
		margin-left: 12px;
	}
	a.SmallerA {
		width: 25%; /*En relacion al tamano de su contenedor*/
		display: inline-block!important; /*Quiza puedo modificar el css para no necesitar este important aqui*/
		margin: 0px;
	}
}
@media (max-width: 991px) and (min-width: 768px) { /*md meaning medium*/
	body {
		font-size: 2vw;
	}
	a.button:link, a.button:visited {
		width: 100%;
		margin-bottom: 0.2em;
	}
}
@media (min-width: 576px) and (max-width: 767px) { /*sm meaning small*/
	body {
		font-size: 4vw;
	}
	a.button:link, a.button:visited {
		width: 100%;
		margin-bottom: 0.2em;
	}
	a.SmallerA {
		width: 100%; /*En relacion al tamano de su contenedor*/
		display: inline-block!important; /*Quiza puedo modificar el css para no necesitar este important aqui*/
		margin: 0px;
	}
	p.Encapsulated {
		margin: 0em;
	}
	table {
		display: flex;
		overflow: hidden; /*To make sure the content doesnt spill out and widends the page*/
		overflow-x: scroll;
	}
}
@media (max-width: 575px) { /*xs meaning extra small*/
	body {
		font-size: 4vw;
	}
	a.button:link, a.button:visited {
		width: 100%;
		margin-bottom: 0.2em;
	}
	a.SmallerA {
		width: 100%; /*En relacion al tamano de su contenedor*/
		display: inline-block!important; /*Quiza puedo modificar el css para no necesitar este important aqui*/
		margin: 0px;
	}
	p.Encapsulated {
		margin: 0em;
	}
	table {
		display: flex; /*Dont know why this works, it does tho*/
		overflow: hidden; /*To make sure the content doesnt spill out and widends the page*/
		overflow-x: scroll;
	}
}
header {  
	background-color: #696969; /*Dimgrey*/
	margin-top: -0.85em;
	padding: 0.85em;
	color: #000; /*Black*/
}
.bold {
	font-weight: bold;		
}
section { 
	margin-left: 1.1em;
	margin-right: 1.1em;
}
article > h3 {
	font-size: 1.64em;
}
hr.Bsections { 
	margin-bottom: 0px;
	margin-top: 0px; /*To aligh it with Header*/
	background-color: #404040;
	padding: 0.20em;
	border-top: 0px;
	opacity: 1;
}
footer { 
	margin-top: 0px; /*To align it with hr*/
	padding: 1.10em;
	background-color: #696969; /*Dimgrey*/
	color: #000; /*Black*/
}
span.highlight {
	text-decoration: underline;
	text-decoration-color: #8b0000; /*Dark red*/
	text-decoration-thickness: 0.15em;
	font-weight: bold;
}
select {
	background: #a9a9a9; /*Darkgrey*/
}
ul li {
	list-style: none;
}
ul li::before {
	content: "•"; color: #fff; /*White*/
	display: inline-block;
	width: 1em;
	margin: 0.10em 0px 0px -1em; /*Cada numero modifica cada lado en este orden Top-Right-Down-Left*/
}
ul li:nth-child(3):hover { /*Esta linea especifica que se le aplique el Style al 3er div que se encuentre dentro de un elemento section y que tenga el mouse encima, la propiedad de nth-child tambien puede ser Odd or Even*/
	background-color: #fff; /*White*/
	color: #000;	/*Black*/
} 


